---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: polar-bear
  labels:
    app.kubernetes.io/name: polar-bear
rules:
  - apiGroups:
      - ""
    resources:
      - namespaces
      - pods
      - nodes
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - get
      - list
      - watch
