package shared

templ Annotation(key string, value string) {
	<div class="border-l-2 border-gray-400 pl-3 pt-1 pb-1 hover:bg-gray-100">
		<div class="font-mono text-xs text-gray-600">{ key }</div>
		<div class="text-gray-800 overflow-hidden text-ellipsis">{ value }</div>
	</div>
}
