package shared

import "fmt"

templ Toleration(key string, effect string, seconds *int64) {
	<div class="border-l-2 border-yellow-500 pl-3 pt-1 pb-1 hover:bg-gray-100">
		<div class="font-mono text-sm text-gray-800">{ key }:{ effect }</div>
		<div class="text-xs text-gray-600 overflow-hidden text-ellipsis">
			Toleration Seconds:
			switch seconds {
				case nil:
					{ "-" }
				default:
					{ fmt.Sprintf("%v", *seconds) }
			}
		</div>
	</div>
}
